<%
  # Find time entries that need approval and the user has permission to approve
  entries = TimeEntry.pending_approval.joins(:project => :members).
    where("#{Member.table_name}.user_id = ?", User.current.id).
    joins("INNER JOIN #{MemberRole.table_name} ON #{MemberRole.table_name}.member_id = #{Member.table_name}.id").
    joins("INNER JOIN #{Role.table_name} ON #{Role.table_name}.id = #{MemberRole.table_name}.role_id").
    where("#{Role.table_name}.permissions LIKE '%:approve_time_entries%'").
    where("#{TimeEntry.table_name}.user_id <> ?", User.current.id).
    order("#{TimeEntry.table_name}.spent_on DESC").
    limit(10)
%>

<h3>
  <%= link_to l(:label_pending_timesheets), time_entries_path(:set_filter => 1, :status => TimeEntry::STATUS_PENDING) %>
  (<%= entries.count %>)
</h3>

<% if entries.any? %>
<table class="list time-entries odd-even">
<thead>
  <tr>
    <th><%= l(:field_user) %></th>
    <th><%= l(:field_project) %></th>
    <th><%= l(:field_issue) %></th>
    <th><%= l(:field_hours) %></th>
    <th><%= l(:field_spent_on) %></th>
    <th><%= l(:field_activity) %></th>
    <th><%= l(:field_comments) %></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% entries.each do |entry| %>
  <tr id="time-entry-<%= entry.id %>" class="time-entry">
    <td class="user"><%= link_to_user(entry.user) %></td>
    <td class="project"><%= link_to_project(entry.project) %></td>
    <td class="subject">
      <% if entry.issue %>
        <%= link_to_issue(entry.issue, :truncate => 50) %>
      <% end %>
    </td>
    <td class="hours"><%= html_hours(format_hours(entry.hours)) %></td>
    <td class="spent_on"><%= format_date(entry.spent_on) %></td>
    <td class="activity"><%= entry.activity %></td>
    <td class="comments"><%= entry.comments %></td>
    <td class="buttons">
      <% if entry.can_approve?(User.current) %>
        <%= link_to sprite_icon('checked', l(:label_approve)), 
                    approve_time_entry_path(entry),
                    :method => :post,
                    :title => l(:label_approve),
                    :class => 'icon-only icon-checked' %>
        <%= link_to sprite_icon('close', l(:label_reject)), 
                    '#',
                    :onclick => "showModal('reject-dialog-#{entry.id}', '330px'); return false;",
                    :title => l(:label_reject),
                    :class => 'icon-only icon-close' %>
        <div id="reject-dialog-<%= entry.id %>" style="display:none;">
          <h3 class="title"><%= l(:label_rejection_reason) %></h3>
          <%= form_tag(reject_time_entry_path(entry), :method => :post) do %>
            <p>
              <%= text_area_tag 'rejection_reason', '', :rows => 5, :class => 'wiki-edit' %>
            </p>
            <p class="buttons">
              <%= submit_tag l(:label_reject), :class => 'button-small button-negative' %>
              <%= link_to l(:button_cancel), '#', :onclick => "hideModal(this); return false;", :class => 'button-small' %>
            </p>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= javascript_tag do %>
$(document).ready(function(){
  $('div[id^="reject-dialog-"]').each(function() {
    $(this).appendTo(document.body);
  });
});
<% end %> 