<div class="contextual">
<%= link_to(sprite_icon('edit', l(:button_edit)), edit_user_path(@user), :class => 'icon icon-edit') if User.current.admin? && @user.logged? %>
</div>

<h2><%= avatar @user, :size => "50" %> <%= @user.name %></h2>

<div class="splitcontent">
<div class="splitcontentleft">
<ul>
  <li><%=l(:field_login)%>: <%= @user.login %></li>
  <% unless @user.pref.hide_mail %>
    <li><%=l(:field_mail)%>: <%= user_emails(@user) %></li>
  <% end %>
  <% @user.visible_custom_field_values.each do |custom_value| %>
  <% if !custom_value.value.blank? %>
    <li class="<%= custom_value.custom_field.css_classes %>"><%= custom_value.custom_field.name %>: <%= show_value(custom_value) %></li>
  <% end %>
  <% end %>
    <li><%=l(:label_registered_on)%>: <%= format_date(@user.created_on) %></li>
  <% unless @user.last_login_on.nil? %>
    <li><%=l(:field_last_login_on)%>: <%= format_date(@user.last_login_on) %></li>
  <% end %>
</ul>

<h3><%=l(:label_issue_plural)%></h3>

<table class="list issue-report">
<thead>
  <tr>
    <th></th>
    <th><%=l(:label_open_issues_plural)%></th>
    <th><%=l(:label_closed_issues_plural)%></th>
    <th><%=l(:label_total)%></th>
  </tr>
</thead>
<tbody>
  <% assigned_to_ids = ([@user.id] + @user.group_ids).join("|") %>
  <% sort_cond = 'priority:desc,updated_on:desc' %>
  <tr>
    <td class="name">
      <%= link_to l(:label_assigned_issues),
        issues_path(:set_filter => 1, :assigned_to_id => assigned_to_ids, :sort => sort_cond) %>
    </td>
    <td>
      <%= link_to @issue_counts[:assigned][:open],
        issues_path(:set_filter => 1, :assigned_to_id => assigned_to_ids, :sort => sort_cond) %>
    </td>
    <td>
      <%= link_to @issue_counts[:assigned][:total] - @issue_counts[:assigned][:open],
        issues_path(:set_filter => 1, :status_id => 'c', :assigned_to_id => assigned_to_ids, :sort => sort_cond) %>
    </td>
    <td class="total">
      <%= link_to @issue_counts[:assigned][:total],
        issues_path(:set_filter => 1, :status_id => '*', :assigned_to_id => assigned_to_ids, :sort => sort_cond) %>
    </td>
  </tr>
  <tr>
    <td class="name">
      <%= link_to l(:label_reported_issues),
        issues_path(:set_filter => 1, :author_id => @user.id, :sort => sort_cond) %>
    </td>
    <td>
      <%= link_to @issue_counts[:reported][:open],
        issues_path(:set_filter => 1, :author_id => @user.id, :sort => sort_cond) %>
    </td>
    <td>
      <%= link_to @issue_counts[:reported][:total] - @issue_counts[:reported][:open],
        issues_path(:set_filter => 1, :status_id => 'c', :author_id => @user.id, :sort => sort_cond) %>
    </td>
    <td class="total">
      <%= link_to @issue_counts[:reported][:total],
        issues_path(:set_filter => 1, :status_id => '*', :author_id => @user.id, :sort => sort_cond) %>
    </td>
  </tr>
</tbody>
</table>

<% unless @memberships.empty? %>
  <h3><%=l(:label_project_plural)%></h3>
  
  <% active_memberships = @memberships.select { |m| m.end_date.nil? || m.end_date >= Date.today } %>
  <% past_memberships = @memberships.select { |m| m.end_date && m.end_date < Date.today } %>
  
  <div class="allocations-container">
    <div class="allocations-tabs">
      <div class="tab-header">
        <div class="tab-button active" data-tab="active-allocations">
          <%= l(:label_active_allocations) %>
        </div>
        <div class="tab-button" data-tab="past-allocations">
          <%= l(:label_past_allocations) %>
        </div>
      </div>
      
      <div class="tab-content active" id="active-allocations">
        <% if active_memberships.any? %>
          <% total_allocation = active_memberships.sum(&:allocation_percentage) %>
          <div class="total-allocation">
            <%= l(:label_total_allocation) %>: <strong><%= total_allocation %>%</strong>
          </div>
          <div class="allocations-table">
            <div class="table-header">
              <div class="col project"><%=l(:label_project)%></div>
              <div class="col roles"><%=l(:label_role_plural)%></div>
              <div class="col allocation"><%=l(:field_allocation_percentage)%></div>
              <div class="col dates"><%=l(:field_start_date)%></div>
              <div class="col dates"><%=l(:field_end_date)%></div>
            </div>
            <% memberships_by_project = active_memberships.group_by(&:project) %>
            <% project_tree(memberships_by_project.keys, :init_level => true) do |project, level| %>
              <% membership = memberships_by_project[project].first %>
              <div class="table-row <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
                <div class="col project"><%= link_to_project(project) %></div>
                <div class="col roles"><%= membership.roles.sort.collect(&:to_s).join(', ') %></div>
                <div class="col allocation"><%= membership.allocation_percentage %>%</div>
                <div class="col dates"><%= format_date(membership.start_date) %></div>
                <div class="col dates"><%= format_date(membership.end_date) %></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="nodata"><%= l(:label_no_data) %></p>
        <% end %>
      </div>
      
      <div class="tab-content" id="past-allocations">
        <% if past_memberships.any? %>
          <div class="allocations-table">
            <div class="table-header">
              <div class="col project"><%=l(:label_project)%></div>
              <div class="col roles"><%=l(:label_role_plural)%></div>
              <div class="col allocation"><%=l(:field_allocation_percentage)%></div>
              <div class="col dates"><%=l(:field_start_date)%></div>
              <div class="col dates"><%=l(:field_end_date)%></div>
            </div>
            <% memberships_by_project = past_memberships.group_by(&:project) %>
            <% project_tree(memberships_by_project.keys, :init_level => true) do |project, level| %>
              <% membership = memberships_by_project[project].first %>
              <div class="table-row <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
                <div class="col project"><%= link_to_project(project) %></div>
                <div class="col roles"><%= membership.roles.sort.collect(&:to_s).join(', ') %></div>
                <div class="col allocation"><%= membership.allocation_percentage %>%</div>
                <div class="col dates"><%= format_date(membership.start_date) %></div>
                <div class="col dates"><%= format_date(membership.end_date) %></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="nodata"><%= l(:label_no_data) %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if (User.current == @user || User.current.admin?) && @user.groups.any? %>
<div id="groups">
  <h3><%=l(:label_group_plural)%></h3>
  <ul>
  <% for group in @user.groups %>
    <li><%= link_to_group(group) %>
  <% end %>
  </ul>
</div>
<% end %>

<%= call_hook :view_account_left_bottom, :user => @user %>
</div>

<div class="splitcontentright">

<% unless @events_by_day.empty? %>
<h3><%= link_to l(:label_activity), :controller => 'activities',
                :action => 'index', :id => nil, :user_id => @user,
                :from => @events_by_day.keys.first %></h3>
<%= render :partial => 'activities/activities', :locals => {:events_by_day => @events_by_day} %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:controller => 'activities', :action => 'index', :id => nil, :user_id => @user, :key => User.current.atom_key} %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, :controller => 'activities', :action => 'index', :user_id => @user, :format => :atom, :key => User.current.atom_key) %>
  <%= stylesheet_link_tag 'application', :plugin => 'redmine' %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.tab-button').click(function() {
        var tabId = $(this).data('tab');
        $('.tab-button').removeClass('active');
        $(this).addClass('active');
        $('.tab-content').removeClass('active');
        $('#' + tabId).addClass('active');
      });
    });
  <% end %>
  <style>
    .allocations-container {
      margin: 1em 0;
    }
    .allocations-tabs {
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .tab-header {
      display: flex;
      border-bottom: 1px solid #ccc;
      background: #f8f8f8;
    }
    .tab-button {
      padding: 10px 20px;
      cursor: pointer;
      border-right: 1px solid #ccc;
      color: #666;
    }
    .tab-button:last-child {
      border-right: none;
    }
    .tab-button.active {
      background: #fff;
      color: #333;
      border-bottom: 2px solid #1a73e8;
      margin-bottom: -1px;
    }
    .tab-content {
      display: none;
      padding: 15px;
    }
    .tab-content.active {
      display: block;
    }
    .allocations-table {
      width: 100%;
    }
    .table-header {
      display: flex;
      background: #f8f8f8;
      border-bottom: 2px solid #ccc;
      font-weight: bold;
    }
    .table-row {
      display: flex;
      border-bottom: 1px solid #eee;
      padding: 8px 0;
    }
    .table-row:hover {
      background: #f5f5f5;
    }
    .col {
      padding: 0 10px;
    }
    .col.project {
      flex: 2;
    }
    .col.roles {
      flex: 2;
    }
    .col.allocation {
      flex: 1;
      text-align: center;
    }
    .col.dates {
      flex: 1;
      text-align: center;
    }
    .idnt {
      padding-left: 20px;
    }
    .nodata {
      text-align: center;
      padding: 20px;
      color: #666;
    }
    .total-allocation {
      margin-bottom: 15px;
      padding: 10px;
      background: #f8f8f8;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1.1em;
    }
    .total-allocation strong {
      color: #1a73e8;
    }
  </style>
<% end %>
<% end %>
<%= call_hook :view_account_right_bottom, :user => @user %>
</div>
</div>
<% html_title @user.name %>
