<div class="box tabular">
  <!--[form:project]-->
  <p><%= f.text_field :name, :required => true, :size => 60 %></p>

  <p><%= f.text_area :description, :rows => 8, :class => 'wiki-edit' %></p>
  <p><%= f.text_field :identifier, :required => true, :size => 60, :disabled => @project.identifier_frozen?, :maxlength => Project::IDENTIFIER_MAX_LENGTH %>
  <% unless @project.identifier_frozen? %>
    <em class="info"><%= l(:text_length_between, :min => 1, :max => Project::IDENTIFIER_MAX_LENGTH) %> <%= l(:text_project_identifier_info).html_safe %></em>
  <% end %></p>
  <p><%= f.text_field :homepage, :size => 60 %></p>
  <p>
    <%= f.check_box :is_public, :disabled => !@project.safe_attribute?(:is_public) %>
    <em class="info"><%= Setting.login_required? ? l(:text_project_is_public_non_member) : l(:text_project_is_public_anonymous) %></em>
  </p>

  <p>
    <%= f.check_box :bench_project %>
    <em class="info"><%= l(:text_bench_project_info) %></em>
  </p>

  <% unless @project.allowed_parents.compact.empty? %>
    <p><%= label(:project, :parent_id, l(:field_parent)) %><%= parent_project_select_tag(@project) %></p>
  <% end %>

  <% if @project.safe_attribute? 'inherit_members' %>
  <p><%= f.check_box :inherit_members %></p>
  <% end %>

  <%= wikitoolbar_for 'project_description' %>

  <% @project.visible_custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :project, value %></p>
  <% end %>
  <%= call_hook(:view_projects_form, :project => @project, :form => f) %>
</div> 