<div class="contextual">
  <%= link_to l(:button_log_time), 
              new_time_entry_path,
              :class => 'icon icon-time-add' if User.current.allowed_to?(:log_time, @project) %>
</div>

<h2><%= l(:label_pending_submission) %></h2>

<%= form_tag(bulk_submit_time_entries_path, :method => :post, :id => 'bulk-submit-form') do %>
<%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>

<div class="autoscroll">
<table class="list time-entries odd-even">
<thead>
  <tr>
    <th class="checkbox hide-when-print">
      <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
        :title => "#{l(:button_check_all)} / #{l(:button_uncheck_all)}" %>
    </th>
    <% @query.inline_columns.each do |column| %>
      <%= column_header(@query, column) %>
    <% end %>
    <th><%= l(:field_status) %></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @entries.each do |entry| -%>
  <tr id="time-entry-<%= entry.id %>" class="time-entry <%= cycle("odd", "even") %> hascontextmenu">
    <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", entry.id, false, :id => nil) %></td>
    <% @query.inline_columns.each do |column| %>
    <%= content_tag('td', column_content(column, entry), :class => column.css_classes) %>
    <% end %>
    <td class="status">
      <span class="badge badge-warning"><%= l(:label_pending_approval) %></span>
    </td>
    <td class="buttons">
      <%= link_to l(:label_submit_for_approval), 
                  submit_time_entry_path(entry),
                  :method => :post,
                  :class => 'icon icon-checked' %>
    </td>
  </tr>
<% end -%>
</tbody>
</table>
</div>

<div class="contextual">
  <%= submit_tag l(:label_submit_selected_for_approval), :name => nil, :class => 'button-small' %>
</div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'timelog/sidebar' %>
<% end %>

<% html_title l(:label_pending_submission) %> 