<div class="contextual">
  <%= link_to l(:label_timesheet_new, :scope => :timesheet), new_timesheet_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_timesheet_plural, :scope => :timesheet) %></h2>

<% if User.current.admin? || User.current.allowed_to_globally?(:approve_all_time_entries) || User.current.allowed_to_globally?(:approve_time_entries) %>
<div class="tabs">
  <ul>
    <li><%= link_to l(:label_my_timesheets, :scope => :timesheet), timesheets_path, :class => 'selected' %></li>
    <li><%= link_to l(:label_timesheets_for_approval, :scope => :timesheet), for_approval_timesheets_path %></li>
  </ul>
</div>
<% end %>

<%= form_tag(timesheets_path, :method => :get, :id => 'query_form') do %>
<fieldset id="filters" class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div>
    <div class="filter">
      <%= label_tag "status", l(:field_status, :scope => :timesheet) %>
      <%= select_tag "status", 
                     options_for_select([[l(:label_all), ""]] + 
                                        [[l(:label_draft, :scope => :timesheet), Timesheet::STATUS_DRAFT],
                                         [l(:label_pending_approval, :scope => :timesheet), Timesheet::STATUS_PENDING],
                                         [l(:label_approved, :scope => :timesheet), Timesheet::STATUS_APPROVED],
                                         [l(:label_rejected, :scope => :timesheet), Timesheet::STATUS_REJECTED]],
                                        params[:status]) %>
    </div>
    <div class="filter">
      <%= label_tag "start_date", l(:field_start_date, :scope => :timesheet) %>
      <%= date_field_tag "start_date", params[:start_date] %>
      <%= label_tag "end_date", l(:field_end_date, :scope => :timesheet) %>
      <%= date_field_tag "end_date", params[:end_date] %>
    </div>
    <p class="buttons">
      <%= submit_tag l(:button_apply), :name => nil %>
      <%= link_to l(:button_clear), timesheets_path, :class => 'icon icon-reload' %>
    </p>
  </div>
</fieldset>
<% end %>

<div class="autoscroll">
<table class="list timesheets">
  <thead>
    <tr>
      <th><%= l(:field_submitted_by, :scope => :timesheet) %></th>
      <th><%= l(:field_week) %></th>
      <th><%= l(:field_date_range) %></th>
      <th><%= l(:field_hours, :scope => :timesheet) %></th>
      <th><%= l(:field_status, :scope => :timesheet) %></th>
      <th><%= l(:field_approved_by, :scope => :timesheet) %></th>
      <th><%= l(:field_approved_on, :scope => :timesheet) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @timesheets.each do |timesheet| %>
    <tr class="timesheet <%= cycle('odd', 'even') %> <%= timesheet.status %>">
      <td class="user"><%= link_to_user(timesheet.user) %></td>
      <td class="week"><%= timesheet.week_number %></td>
      <td class="date-range"><%= timesheet.date_range %></td>
      <td class="hours"><%= html_hours(format_hours(timesheet.total_hours)) %></td>
      <td class="status">
        <% case timesheet.status %>
        <% when Timesheet::STATUS_DRAFT %>
          <span class="badge badge-info"><%= l(:label_draft, :scope => :timesheet) %></span>
        <% when Timesheet::STATUS_PENDING %>
          <span class="badge badge-warning"><%= l(:label_pending_approval, :scope => :timesheet) %></span>
        <% when Timesheet::STATUS_APPROVED %>
          <span class="badge badge-success"><%= l(:label_approved, :scope => :timesheet) %></span>
        <% when Timesheet::STATUS_REJECTED %>
          <span class="badge badge-error"><%= l(:label_rejected, :scope => :timesheet) %></span>
        <% end %>
      </td>
      <td class="approved-by">
        <%= link_to_user(timesheet.approved_by) if timesheet.approved_by %>
      </td>
      <td class="approved-on">
        <%= format_time(timesheet.approved_on) if timesheet.approved_on %>
      </td>
      <td class="buttons">
        <% if timesheet.user_id == User.current.id && timesheet.draft? %>
          <%= link_to l(:button_edit), edit_timesheet_path(timesheet), :class => 'icon icon-edit' %>
          <%= link_to l(:button_delete), timesheet_path(timesheet), 
                      :method => :delete, 
                      :data => {:confirm => l(:text_are_you_sure, :scope => :timesheet)}, 
                      :class => 'icon icon-del' %>
          <% if timesheet.can_submit? %>
            <%= link_to l(:label_submit_for_approval, :scope => :timesheet), submit_timesheet_path(timesheet), 
                        :method => :post, 
                        :class => 'icon icon-checked' %>
          <% end %>
        <% end %>
        <%= link_to l(:button_view), timesheet_path(timesheet), :class => 'icon icon-magnifier' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<span class="pagination"><%= pagination_links_full @timesheet_pages, @timesheet_count %></span>

<% html_title(l(:label_timesheet_plural, :scope => :timesheet)) %> 