<%= form_for(@member, :url => membership_path(@member),
                      :as => :membership,
                      :remote => request.xhr?,
                      :method => :put) do |f| %>
  <p>
    <% @roles.each do |role| %>
    <label class="block">
      <%= check_box_tag('membership[role_ids][]',
                        role.id, @member.roles.to_a.include?(role),
                        :id => nil,
                        :disabled => !@member.role_editable?(role)) %> <%= role %>
      <%= render_role_inheritance(@member, role) %>
    </label>
    <% end %>
  </p>
  <%= hidden_field_tag 'membership[role_ids][]', '', :id => nil %>
  
  <fieldset class="box">
    <legend><%= l(:label_allocation) %></legend>
    <p>
      <%= label_tag 'membership[allocation_percentage]', l(:field_allocation_percentage) %>
      <%= number_field_tag 'membership[allocation_percentage]', @member.allocation_percentage, min: 0, max: 100, step: 0.01 %>%
    </p>
    <p>
      <%= label_tag 'membership[start_date]', l(:field_start_date) %>
      <%= date_field_tag 'membership[start_date]', @member.start_date %>
    </p>
    <p>
      <%= label_tag 'membership[end_date]', l(:field_end_date) %>
      <%= date_field_tag 'membership[end_date]', @member.end_date %>
    </p>
    <p>
      <%= label_tag 'membership[billable]', l(:field_billable) %>
      <%= check_box_tag 'membership[billable]', '1', @member.billable %>
    </p>
  </fieldset>
  
  <p>
    <%= submit_tag l(:button_save) %>
    <%= link_to_function l(:button_cancel),
                         "$('#member-#{@member.id}-roles').show(); $('#member-#{@member.id}-form').empty(); return false;" if request.xhr? %>
  </p>
<% end %>
